body{
    background-image: url(images/star.png);
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    min-height: none;
}

h1{
    font-size: 100px;
    font-family: "Brush Script MT", "Lucida Handwriting", cursive;
    text-decoration: underline;
    color: rgb(0, 0, 13);
    margin: 0px;
}

.cinzel-decorative-regular {
  font-family: "Cinzel Decorative", serif;
  font-weight: 400;
  font-style: normal;
}

.cinzel-decorative-bold {
  font-family: "Cinzel Decorative", serif;
  font-weight: 700;
  font-style: normal;
}

.cinzel-decorative-black {
  font-family: "Cinzel Decorative", serif;
  font-weight: 900;
  font-style: normal;
}

.milly{
    margin-right: 90px;
}

 




.side{
    display: grid;
    grid-template-columns: 220px 1fr;
    gap: 2rem;
    align-items: start;
    padding: 1rem;
}

.sidebar img{
    width: 500px;
    height: auto;
    margin-top: 0px;
    margin-left: 0px;
}

.highlight{
    text-decoration: none;
    color: black;
    font-size: 30px;
}